body {
  background: rgb(59,47,242);
  background: radial-gradient(circle, rgba(59,47,242,1) 
  9%, rgba(51,40,231,1) 26%, rgba(131,131,223,1) 
  63%, rgba(71,195,193,1) 73%, rgba(0,255,216,1) 88%);
text-align: center;
color: #0a2d73 ;
font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.data img {
  background: #18232B;
  border-radius: 50%;
  padding: 10px;
  margin-top: -60px;
}

.form {
  background: rgb(66,56,221);
  background: linear-gradient(310deg, rgba(66,56,221,1) 2%, rgba(0,255,216,1) 48%, rgba(10,0,255,1) 98%);
  }
  .header-div {
    background-color: #789de6;
    margin: 20px;
    padding: 100px 0 0 0;
  }
  .header-div div {
    background: #f0f3f7;
   text-align: center;
   padding-bottom: 10px;
    
  }

  h1 {
    font-size: 7vmin;
  }

  h3 {
  color: #282c34;
  }
  .weather-description   {
    color: rgb(3, 71, 71);
    font-weight: 400;
    font-size: 3vmin;
  }
  .weather-description  p {
    color: rgb(3, 71, 71);
    font-weight: 400;
    font-size: 6vmin;
    margin: 0;
  }


input {
border-radius: 20px;
outline: none;
border: transparent 1px;
padding: 10px;
font-weight: 500;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 3vmin;
}
button {
  
  color: #fff;
  background: #282c34;
  border-radius: 20px;
  outline: none;
  border: transparent 1px;
  padding: 10px;
  margin: 10px 5px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vmin;
}
 /* .icon {
    width: 15vmin;
    height:15vmin;
 } */

 .title {
  margin-bottom: 10px 5px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7vmin;

 }
 .location {
  font-weight: 400;
 }



@media screen and (min-width:768px) {
  .weather-description {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
  }
  .header-div {
    margin: 20px 90px 20px 90px;
 }
 section {
  text-align: center;
 }
}




